@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

:root{
  /* FEFFFF */
  /* F7F9FB */
  --navbar-color: #F7F9FB;
  color: black;
  background-color: #FEFFFF;
  /* F7F9FB */
  font-family: 'Roboto', sans-serif;
  border-style: border-box;
}
.App{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
/* Colors */
/*
  #008000
  
*/


/* Navbar */
.bottom-nav{
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: gray;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  line-height: 10vh;
  z-index: 10;
}
.bottom-nav > h4{
  margin: auto;
}
.mynav{
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--navbar-color);
  height: 10vh;
  width: 100%;
  display: flex;
  z-index: 10;

  /* border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-color: black;
  border-style: solid; */
}
.nav-tab-container{
  display: flex;
  position: absolute;
  right: 5%;
}
.nav-tab{
  margin-left: 1.5rem;
  opacity: 1;
  color: black;
  opacity: .9;
  line-height: 10vh;
}
.nav-tab:hover{
  cursor: pointer;
  opacity: .6;
  transition-duration: 500ms;
}
.icon{
  font-size: 1.2rem;
  margin-right: 20%;
}




/* Mobile Nav */
.mobile-nav{
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
  height: 100vh;
  background-color: #0d482a;
  z-index: 4;
  color: white;

  animation-name: slide;
  animation-duration: 1.5s;
}
.mobile-nav-tab{
  text-align: center;
  margin-top: 10%;
}
.mobile-nav-tab:nth-child(1){
  margin-top: 20%;
}
.hamburger-nav{
  position: fixed;
  z-index: 10;
  right: 5%;
  top: 2.5vh;
}
.hamburger-line{
  width: 7vw;
  border-width: 1vw;
  border-style: solid;
  border-radius: 25px;
  margin-top: 10%;
  background-color: black;
  border-color: black;
}

@keyframes slide {
  0%{
    width: 0;
    height: 10000px;
  }
  100% { 
    width: 85%; 
  }
}




/* Error Page */
.error-page{
  margin-top: 30vh;
}




/* Home */
.home-image{
  width: 100%;
  margin-left: 0%;
  margin-top: 0%;
  height: 90vh;
}
.home-title{
  text-align: center;
  position: relative;
  margin-top: 2%;
}
.home-content{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.features{
  width: 70%;
  margin-left: 10%;
  background-color: lightgray;
  border-radius: 30px;
  padding-bottom: 1rem;
  padding-top: .1rem;
}
.features > h2{
  margin-left: 10%;
}
.features > p{
  padding-left: 10%;
  width: 70%;
}



/* Home Slider */
.slider{
  position: relative;
  width: 70%;
  height: 55vh;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.slider-image-initial{
  border-radius: 30px;
}
.slider-image-initial{
  width: 100%;
  height: 100%;
}
.slider-arrow{
  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 0px;
  border-right: 0px;
  border-left: 5px;
  border-bottom: 5px;
  border-color: black;
  border-style: solid;
  z-index: 0;
  top: 42%;
  border-radius: 5px;
}
.slider-arrow:hover{
  cursor: pointer;
  transition-duration: .5s;
  opacity: .8;
}
.slider-left-arrow{
  transform: rotate(45deg);
  left: -10%;
}
.slider-right-arrow{
  transform: rotate(225deg);
  right: -10%;
}
.image-slide-left{
  animation-name: image-slide-left;
  animation-duration: .5s;
}
.image-slide-right{
  animation-name: image-slide-right;
  animation-duration: .5s;
}
.image-slide-left-second{
  animation-name: image-slide-left-second;
  animation-duration: .5s;

}
.image-slide-right-second{
  animation-name: image-slide-right-second;
  animation-duration: .5s;
}
/* Slide off Animations */
@keyframes image-slide-left {
  0%{
    opacity: 1;
  }
  100%{
    opacity: .1;
    transform: translateX(100%);
  }
}
@keyframes image-slide-right {
  0%{
    opacity: 1;
  }
  100%{
    opacity: .1;
    transform: translateX(-100%);
  }
}

/* Slide on Animations */
@keyframes image-slide-left-second {
  0%{
    transform: translateX(-50%);
    opacity: .1;
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes image-slide-right-second {
  0%{
    transform: translateX(50%);
    opacity: .1;
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}





/* Footer */
footer{
  overflow: hidden;
  position: relative;
  background-color: black;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 0;
}
.footer-segment{
  color: white;
  margin-top: 10%;
  height: 100%;
}
.facebook-icon{
  width: 10%;
}
.facebook-icon:hover{
  cursor: pointer;
}
.loc::before{
  content: '\f041';
  position: relative;
  left: 0;
  font-size: 16px;
  font-family: FontAwesome;
  padding-right: 10px;
}
.contact-us-footer-grid{
  font-size: 14px;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
  margin-left: 10%;
}
.contact-us-footer-grid > div{
  margin-top: .3rem;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.contactus-footer{
  text-align: left;

}
.follow-us{
  width: 10rem;
}
.quick-links{
  color: white;
  height: 100%;
  left: 33%;
}
.quick-links > div{
  color: #135344;
  margin-top: .5rem;
  text-align: left;
  opacity: 1;
}
.quick-links > div:hover{
  color: #115633;
  
}
.quick-links > div:hover{
  cursor: pointer;
  opacity: .8;
  transition-duration: .5s;
}
.footer-icon{
  height: 60%;
  margin-left: -5%;
  margin-right: 2rem;
  padding-left: 6rem;
}