/* Programs */
.program-title{
  text-align: center;
}
.programs-header{
  margin-top: 8%;
  text-align: center;
  position: relative;
}
.programs{
  display: flex;
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
/* .card{
  width: 33%;
} */

.card-group{
  width: 80vw;
}
.card-body{

}
.card-title{
  padding-left: 2rem;
  font-size: 1.2rem;
  margin-top: 2%;
}
.card-text{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-size: .9rem;
  color: var(--text-color-black);
}
.card-img{
  padding: 0;
  height: 50%;
}
