/* Reviews */
.reviews-container{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  margin-bottom: 5%;
}
.reviews-title{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.card-footer{
  text-align: right;
}
.my-2{
  width: 30rem;
}