@media screen and (max-width: 950px) {
    /* Reviews */
    .reviews-container{
        grid-template-columns: 50% 50%; 
        /* grid-gap: 10%; */
        /* margin-left: 10%; */
        margin-top: 10vh;      
    }
    .my-2{
        width: 80%;
    }
    /* Schedule */
    .mobile-schedule{
        width: 70%;
        margin-left: 15%;
        }
        .mobile-schedule-day-container:nth-last-child(1){
        margin-bottom: 20%;
        }
        .mobile-schedule-day-container{
        text-align: left;
        padding-bottom: 2rem;
        background-color: black;
        color: white;
    
        border-radius: 10px;
        }
        .mobile-schedule-day-container > h4{
        text-align: left;
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 2%;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px;
        border-color: white;
        border-style: solid;
        margin-bottom: 0;
        }
        .mobile-times-grid{
        display: grid;
        grid-template-columns: 40% 60%;
        }
        .mobile-times-grid > p{
        padding-left: 15%;
        }


    /* Footer */
    footer{
        flex-direction: column;
        height: 100%;
        padding-bottom: 5vh;
    }
    .footer-icon, .quick-links, .contact-us-footer-grid{
        text-align: center;
        left: 0;
        position: relative;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .contactus-footer{
        margin-top: 2%;
    }
    .quick-links{
        margin-top: 2%;
    }
    .footer-icon{
        padding-top: 15vh;
        margin-left: 2%;
    }
    .quick-links > div, .contactus-footer{
        text-align: center;
    }
}

